.action-bar {
    background-color: #3498db;
    color: #fff;
}

.main-container {
    background-color: #ecf0f1;
    padding: 5;
    margin: 10;
    border-radius: 10;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
    display: flex;
}

.horizontal-button-container {
    background-color: #fff;
    padding: 10;
    border-radius: 5;
    margin: 10;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    justify-content: space-around;
    align-items: flex-end;
}

.horizontal-button {
    background-color: #3498db;
    color: #fff;
    font-size: 14;
    padding: 10;
    border-radius: 5;
    text-align: center;
    margin: 10;
}

.profile {
    color: #fff;
    height: 85%;
    border-radius: 10;
    padding: 50;
    flex-direction: column;
}

.label {
    margin: 5;
}
